@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

:root {
    --fundo-preto: #121212;
    --fundo-off: #fff3ef;
    --botao: #b4aaa3;
    --texto-principal: white;
    --texto-secundario: rgb(138, 138, 138);
    --cor-adicional: rgb(115, 208, 247);
}

* {
    font-family: 'Poppins';
}

/* Parte 1 */
.topo-navegacao {
    width: 100%;
    background-color: var(--fundo-preto);
    color: var(--texto-principal);
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1000;
}

.conteudo-header{
    width: 80%;
    margin: 0 auto;
    display: grid;
    grid-template-columns: 1fr 1fr;
    align-items: center;
    padding: 40px 20px 40px 20px;
}


.menu{
    justify-self: end;
    align-items: center;
    display: flex;
    gap: 30px;
}

.menu a{
    color: var(--texto-principal);
    text-decoration: none;
    font-weight: 200;
    transition: color 0.3s ease;
}

.menu a:hover{
    color: var(--cor-adicional);
}

#inicio{
    background-color: var(--fundo-preto);
    color: var(--texto-principal);
    padding: 130px 20px 60px 20px;
}

.grid-container {
    display: grid;
    gap: 20px;
    object-fit: cover;
    grid-template-columns: 1.5fr repeat(3, 1fr);
    grid-template-areas:
    "a a a a"
    "b c d e" ;
    width: 80%;
    margin: 0 auto;

}

.img1 {
    height: 100%;
    width: 100%;
    object-fit: cover;
    border-radius: 7px;
    aspect-ratio: 1 / 1 ;
}

.banner-1 {grid-area: a;}

.texto{
    grid-area: b;
    display: grid;
    align-content: start;
    gap: 20px;
}

.texto p {
    font-weight: 200;
}
    
.banner-2 {grid-area: c;}

.banner-3 {grid-area: d;}

.banner-4 {grid-area: e;}

.botao {
    padding: 7px 20px;
    border: none;
    border-radius: 30px;
    background-color: var(--botao);
    font-weight: bold;
    justify-self: start;
    cursor: pointer;
    transition: color 0.3s ease;
    transition: transform 0.3s ease;
}

.botao:hover{
    background-color: var(--cor-adicional);
    transform: translateY(-5px);
}

/* Parte 2 */
.img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 7px ;
}

#galeria {
    background-color: var(--fundo-off);
    padding: 100px 15px;
    display: grid;
    gap: 15px;
    grid-template-rows: repeat(2, 300px);
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr))
}

.sea-1 {
    grid-row: 1/2;
}

.sea-2 {
    grid-row: 2/3;
}

.sea-3 {
    grid-row: 1/3;
}

.sea .img {
    border-radius: 7px;
}

/* Parte 3 */

#depoimentos {
    background-color: var(--fundo-preto);
    padding: 60px 11% 70px;
    display: grid;
    grid-template-columns: repeat(2, minmax(0, 1fr));
    grid-template-rows: auto auto auto auto;
    column-gap: 60px;
    row-gap: 25px;
    align-items: center;

    h1{
        color: var(--texto-principal);
        font-weight: 600;
        line-height: 1.2;
        grid-column: 2;
        grid-row: 1;
        justify-self: end;
        align-self: start;
        margin: 0 0 10px;
        padding-left: 0;
    }
}

.card {
    background-color: var(--fundo-off);
    box-sizing: border-box;
    width: 450px;
    padding: 48px 30px 26px;
    border-radius: 25px;
    position: relative;
    text-align: center;
    transition: transform 0.3s ease;
}

.card:hover{
    transform: translateY(-20px);
}

.card img {
    border: solid 3px var(--fundo-preto);
    box-sizing: border-box;
    width: 65px;
    height: 65px;
    border-radius: 50%;
    position: absolute;
    object-fit: cover;
    top: -32px;
    left: 50%;
    transform: translateX(-50%);
}

.card p{
    color: black;
    font-size: 13px;
    text-align: center;
    line-height: 1.5;
    padding: 0;
    margin: 0;
}

.user-1 {
    grid-column: 1;
    grid-row: 2;

    img {
        object-position: center top;
    }
}

.user-2 {
    grid-column: 2;
    grid-row: 3;
}

.user-3 {
    grid-column: 1;
    grid-row: 4;
}

footer{
    background-color: var(--fundo-preto);
}

.container-footer {
    display: grid;
    background-color: var(--fundo-preto);
    color: var(--texto-principal);
    grid-template-columns: 1.4fr repeat(3, 1fr);
    padding: 40px 10%;
    gap: 40px;
}

.menu-footer{
    display: grid;
    gap: 8px;
    transform: color 0.3s ease;
}

.menu-footer a:hover{
    color: var(--cor-adicional);
}

.checkpoint-footer,
.navegacao-footer,
.contato-footer,
.redes-footer {
    display: grid;
    align-content: start;
    gap: 12px;
}

.checkpoint-footer p,
.contato-footer p {
    font-weight: 300;
    font-size: 14px;
    color: var(--texto-secundario)
}

.checkpoint-footer h2,
.navegacao-footer h2,
.redes-footer h2,
.contato-footer h2 {
    font-size: 16px;
    font-weight: 600;
}

.menu-footer a{
    color: var(--texto-secundario);
    font-weight: 300;
    text-decoration: none;
    font-size: 14px;
}

.redes-footer {
    display: grid;
    grid-template-columns: repeat(2, 50px);
    align-content: start;
    gap: 15px;
}

.redes-footer h2{
    grid-column: 1 / 3;
    white-space: nowrap;
}

.icone-rede {
    width: 40px;
    height: 40px;
    border: 0.5px solid var(--texto-secundario);
    border-radius: 50%;
    padding: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.icone-rede img{
    width: 20px;
    height: 20px;
    object-fit: contain;
    display: block;
}

.footer-final{
    width: 85%;
    margin: 0 auto;
    padding: 20px 0 25px;
    border-top: 1px solid rgb(31, 31, 31);
    display: grid;
    grid-template-columns: 1fr 1fr;
    color: var(--texto-secundario);
    font-size: 12px;
    font-weight: 300;
}


.footer-final p:last-child{
    justify-self: end;
}